.btn-outline-info {
    color: $secondary-color !important;
    padding: 15px !important;
    border-color: $secondary-color !important;
}

.btn {
    text-transform: capitalize;
    letter-spacing: 0.32px;
    line-height: 25px;
    font-family: "biorhyme";
}
