.about_me {
    margin-top: 2.5rem;

    .card {
        background-color: $primary-color;
        img {
            width: 300px !important;
            height: 340px !important;
            object-fit: cover !important;
            object-position: center 10px;
            z-index: 2;
            border-radius: 2px;
            margin-bottom: 1.875rem;
        }

        .frame {
            border: 5px solid $secondary-color;
            border-radius: 2px;
            width: 300px;
            height: 310px;
            z-index: 1;
            position: absolute;
            top: 60px;
            right: 5px;
        }

        .card-body {
            margin-right: -15px;
            margin-left: -15px;
            .card-text {
                letter-spacing: 0.32px !important;
                line-height: 27px !important;
                font-size: 1rem !important;

                span {
                    color: $secondary-color;
                }
            }
        }
    }
}

.card {
    background-color: $primary-color;

    .card-body {
        @include negativeMarg(15px);

        .card-title {
            color: $secondary-color;
            line-height: 23px;
        }

        h6.card-title {
            letter-spacing: 0.32px !important;
            font-size: 0.875rem;
        }
        h3.card-title {
            letter-spacing: 0.44px !important;
            font-size: 1.375rem;
            font-family: "space mono";
        }

        .card-text {
            font-size: 1rem;
            letter-spacing: 0.32px !important;
            line-height: 27px;
        }

        .languages {
            list-style-type: none;
            line-height: 21px;
            letter-spacing: 0.28px;
            font-size: 0.875rem;
            margin-left: -30px;
            margin-top: 25px;

            li {
                display: inline-block;
            }
        }

        .icons {
            list-style-type: none;
            margin-left: -30px;

            li {
                display: inline-block;
                margin-right: 30px;
            }

            img {
                width: 18px;
                height: 20px;
            }
        }
    }

    .card_image {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.875rem;

        img {
            width: 23px;
            height: 22px;
            margin-bottom: 20px;

            // place the first image to the extreme left
            &:first-child {
                margin-right: auto;
            }
            &:nth-child(2) {
                margin-right: 1.875rem;
            }
        }
    }
}

.card-outline {
    border: 1px solid $secondary-color;
    padding: 10px;
}
